<h1>Listing messages</h1>
<% form_for(@message) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :title %>
    <%= f.submit "Create" %>
  </p>
<% end %>
<table>
  <tr>
    <th>Title</th>
    <th>user</th>
  </tr>
<% for message in @messages %>
  <tr>
    <td><%=h message.title %></td>
    <td><%=h message.user.login %></td>
    <td><%=h message.created_at %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Logout', "/sessions/destroy" %>
